<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mallfoundry.customer.infrastructure.persistence.mybatis.cart.CartItemMapper">

    <resultMap id="cartItemResultMap" type="com.mallfoundry.customer.domain.cart.CartItem">
        <id property="id" column="id_"/>
        <result property="storeId" column="store_id_"/>
        <result property="productId" column="product_id_"/>
        <result property="cart" column="cart_"/>
        <result property="quantity" column="quantity_"/>
        <result property="options" column="options_"
                typeHandler="com.mallfoundry.mybatis.type.StringListTypeHandler"/>
        <result property="createTime" column="create_time_"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO customer_cart_item ( id_,store_id_, product_id_, cart_, quantity_, options_, create_time_ )
        VALUES
            (
            #{id}, #{storeId}, #{productId}, #{cart}, #{quantity},
            #{options, typeHandler=com.mallfoundry.mybatis.type.StringListTypeHandler},
            #{createTime})
    </insert>

    <update id="update">
        UPDATE
        customer_cart_item
        <set>
            <if test="quantity != 0">
                quantity_ = #{quantity},
            </if>
            <if test="options != null and options.size() > 0">
                options_ = #{options},
            </if>
        </set>
        WHERE
        id_ = #{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM
            customer_cart_item
        WHERE
            id_ = #{id}
    </delete>

    <select id="selectListByCart" resultMap="cartItemResultMap">
        SELECT
            id_,
            store_id_,
            product_id_,
            cart_,
            quantity_,
            options_,
            create_time_
        FROM
            customer_cart_item
        WHERE
            cart_ = #{cart}
    </select>
</mapper>