<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mallfoundry.identity.infrastructure.persistence.mybatis.UserMapper">

    <resultMap id="userResultMap" type="com.mallfoundry.identity.domain.User">
        <id property="id" column="id_"/>
        <id property="username" column="username_"/>
        <id property="nickname" column="nickname_"/>
        <id property="password" column="password_"/>
        <id property="email" column="email_"/>
        <id property="email" column="email_"/>
        <id property="enabled" column="enabled_"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO
            identity_user(id_, username_, nickname_, password_, email_, enabled_)
        VALUES
            (#{id}, #{username}, #{nickname}, #{password}, #{email}, #{enabled});
    </insert>

    <delete id="deleteByUsername">
        DELETE
        FROM
            identity_user
        WHERE
            username_ = #{username}
    </delete>

    <update id="update">
        UPDATE identity_user
        <set>
            <if test="nickname != null">
                nickname_ = #{nickname},
            </if>
            <if test="email != null">
                email_ = #{email},
            </if>
            <if test="enabled != null">
                enabled_ = #{enabled},
            </if>
            <if test="password != null">
                password_ = #{password},
            </if>
        </set>
        <where>
            username_ = #{username}
        </where>
    </update>

    <sql id="selectFrom">
        SELECT
            id_,
            username_,
            nickname_,
            password_,
            email_,
            enabled_
        FROM
            identity_user
    </sql>


    <select id="selectByUsername" resultMap="userResultMap">
        <include refid="selectFrom"/>
        <where>
            username_ = #{username}
        </where>
    </select>
</mapper>