<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mallfoundry.analytics.store.repository.mybatis.MybatisStoreTotalOrderQuantityRepository">
    <resultMap id="quantityResultMap" type="org.mallfoundry.analytics.store.DefaultStoreTotalOrderQuantity">
        <result property="pendingQuantity" column="pending_quantity_"/>
        <result property="awaitingPaymentQuantity" column="awaiting_payment_quantity_"/>
        <result property="awaitingFulfillmentQuantity" column="awaiting_fulfillment_quantity_"/>
        <result property="awaitingShipmentQuantity" column="awaiting_shipment_quantity_"/>
        <result property="partiallyShippedQuantity" column="partially_shipped_quantity_"/>
        <result property="shippedQuantity" column="shipped_quantity_"/>
        <result property="awaitingPickupQuantity" column="awaiting_pickup_quantity_"/>
        <result property="partiallyRefundedQuantity" column="partially_refunded_quantity_"/>
        <result property="refundedQuantity" column="refunded_quantity_"/>
        <result property="disputedQuantity" column="disputed_quantity_"/>
        <result property="cancelledQuantity" column="cancelled_quantity_"/>
        <result property="completedQuantity" column="completed_quantity_"/>
        <result property="declinedQuantity" column="declined_quantity_"/>
    </resultMap>

    <select id="selectByStoreId" resultMap="quantityResultMap">
        select store_id_,
        sum(pending_quantity_) as pending_quantity_,
        sum(awaiting_payment_quantity_) as awaiting_payment_quantity_,
        sum(awaiting_fulfillment_quantity_) as awaiting_fulfillment_quantity_,
        sum(awaiting_shipment_quantity_) as awaiting_shipment_quantity_,
        sum(partially_shipped_quantity_) as partially_shipped_quantity_,
        sum(shipped_quantity_) as shipped_quantity_,
        sum(awaiting_pickup_quantity_) as awaiting_pickup_quantity_,
        sum(partially_refunded_quantity_) as partially_refunded_quantity_,
        sum(refunded_quantity_) as refunded_quantity_,
        sum(disputed_quantity_) as disputed_quantity_,
        sum(cancelled_quantity_) as cancelled_quantity_,
        sum(completed_quantity_) as completed_quantity_,
        sum(declined_quantity_) as declined_quantity_
        from (
        select store_id_,
        quantity_ as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'pending'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        quantity_ as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'awaiting_payment'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        quantity_ as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'awaiting_fulfillment'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        quantity_ as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'partially_shipped'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        quantity_ as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'shipped'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        quantity_ as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'awaiting_pickup'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        quantity_ as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'partially_refunded'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        quantity_ as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'refunded'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        quantity_ as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'disputed'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        quantity_ as cancelled_quantity_,
        0 as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'cancelled'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        quantity_ as completed_quantity_,
        0 as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'completed'
        and store_id_ = #{storeId}
        union all
        select store_id_,
        0 as pending_quantity_,
        0 as awaiting_payment_quantity_,
        0 as awaiting_fulfillment_quantity_,
        0 as awaiting_shipment_quantity_,
        0 as partially_shipped_quantity_,
        0 as shipped_quantity_,
        0 as awaiting_pickup_quantity_,
        0 as partially_refunded_quantity_,
        0 as refunded_quantity_,
        0 as disputed_quantity_,
        0 as cancelled_quantity_,
        0 as completed_quantity_,
        quantity_ as declined_quantity_
        from mf_dw_order_quantity_fact
        where status_id_ = 'declined'
        and store_id_ = #{storeId}
        ) quantity
        group by store_id_
    </select>

</mapper>