<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.shop.topic.infrastructure.persistence.mybatis.CommentMapper">
    <resultMap id="commentResultMap" type="com.github.shop.topic.Comment">
        <id property="name" column="name_"/>
        <result property="type" column="type_"/>
        <result property="comments" column="comments_"/>
        <result property="createTime" column="create_time_"/>
    </resultMap>

    <select id="selectTopicByName" resultMap="commentResultMap">
        SELECT
            name_, type_, comments_, create_time_
        FROM
            topic
        WHERE
            name_ = #{name}
    </select>

    <insert id="insertComment">
        INSERT
            basic_comment ( id_, topic_name_, uid_, nickname_, message_, likes_, create_time_ )
        VALUES
            (#{id}, #{topicName}, #{uid}, #{nikename}, #{message}, #{likes}, #{createTime})
    </insert>

    <update id="updateTopic">
        UPDATE topic
        SET comments_ = #{comments}
        WHERE
            name_ = #{name}
    </update>
</mapper>