<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2019-2020 the original author or authors.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mallfoundry.analytics.stream.order.repository.mybatis.MybatisOrderQuantityFactRepository">

    <delete id="deleteAll">
        delete
        from mf_dw_order_quantity_fact
        where
        <foreach collection="quantities" item="quantity" open="(" close=")" separator="or">
            store_id_ = #{quantity.storeId}
            and customer_id_ = #{quantity.customerId}
            and product_id_ = #{quantity.productId}
            and variant_id_ = #{quantity.variantId}
        </foreach>
    </delete>

    <sql id="insertValues">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{quantity.storeId},
            #{quantity.customerId},
            #{quantity.productId},
            #{quantity.variantId},
            #{quantity.statusId},
            #{quantity.quantity},
        </trim>
    </sql>

    <insert id="saveAll">
        insert into mf_dw_order_quantity_fact(
        store_id_, customer_id_, product_id_, variant_id_, status_id_, quantity_)
        values
        <foreach collection="quantities" item="quantity" separator=",">
            <include refid="insertValues"/>
        </foreach>
    </insert>
</mapper>