<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.shop.catalog.infrastructure.persistence.mybatis.ProductMapper">
    <resultMap id="productResultMap" type="com.github.shop.catalog.Product">
        <id property="id" column="id_"/>
        <result property="shortName" column="short_name_"/>
        <result property="name" column="name_"/>
        <result property="freeShipping" column="free_shipping_"/>
        <result property="shippingMoney" column="shipping_money_"/>
        <result property="description" column="description_"/>
        <result property="attributes" column="attributes_"
                typeHandler="com.github.shop.catalog.infrastructure.persistence.mybatis.ProductAttributesTypeHandler"/>
        <result property="specs" column="specs_"
                typeHandler="com.github.shop.catalog.infrastructure.persistence.mybatis.ProductSpecificationsTypeHandler"/>
        <result property="images" column="images_"
                typeHandler="com.github.shop.catalog.infrastructure.persistence.mybatis.ProductImagesTypeHandler"/>
        <result property="videos" column="videos_"
                typeHandler="com.github.shop.catalog.infrastructure.persistence.mybatis.ProductVideosTypeHandler"/>
        <collection property="skus" ofType="com.github.shop.catalog.ProductSKU">
            <id property="id" column="sku_id_"/>
            <result property="retailPrice" column="sku_retail_price_"/>
            <result property="productId" column="id_"/>
            <result property="marketPrice" column="sku_market_price_"/>
            <result property="stockQuantity" column="sku_stock_quantity_"/>
            <result property="index" column="sku_index_"/>
            <result property="specs" column="sku_specs_"
                    typeHandler="com.github.shop.mybatis.type.IntListTypeHandler"/>
        </collection>
    </resultMap>

    <select id="selectProductById" resultMap="productResultMap">
        SELECT
            pd.id_,
            pd.short_name_,
            pd.name_,
            pd.free_shipping_,
            pd.shipping_money_,
            pd.attributes_,
            pd.specs_,
            pd.description_,
            pd.images_,
            pd.videos_,
            pds.id_ AS sku_id_,
            pds.retail_price_ AS sku_retail_price_,
            pds.market_price_ AS sku_market_price_,
            pds.stock_quantity_ AS sku_stock_quantity_,
            pds.specs_ AS sku_specs_,
            pds.index_ AS sku_index_
        FROM
            catalog_product pd
            LEFT JOIN catalog_product_sku pds ON pd.id_ = pds.product_id_
        WHERE
            pd.id_ = #{id}
        ORDER BY
	        pds.index_
    </select>

    <insert id="insertProduct">
        INSERT INTO
            catalog_product (id_, short_name_, name_, free_shipping_, shipping_money_, description_, attributes_, specs_, images_, videos_)
        VALUES(
            #{id},
	        #{shortName},
	        #{name},
	        #{freeShipping},
	        #{shippingMoney},
	        #{description},
	        #{attributes, typeHandler=com.github.shop.catalog.infrastructure.persistence.mybatis.ProductAttributesTypeHandler},
	        #{specs, typeHandler=com.github.shop.catalog.infrastructure.persistence.mybatis.ProductSpecificationsTypeHandler},
	        #{images, typeHandler=com.github.shop.catalog.infrastructure.persistence.mybatis.ProductImagesTypeHandler},
            #{videos, typeHandler=com.github.shop.catalog.infrastructure.persistence.mybatis.ProductVideosTypeHandler}
	        )
    </insert>

    <insert id="insertProductSkus">
        INSERT INTO catalog_product_sku (
        id_, product_id_, retail_price_, market_price_, stock_quantity_, specs_, index_)
        VALUES
        <foreach collection="skus" separator="," item="sku">
            (
            #{sku.id},
            #{id},
            #{sku.retailPrice},
            #{sku.marketPrice},
            #{sku.stockQuantity},
            #{sku.specs, typeHandler=com.github.shop.mybatis.type.IntListTypeHandler},
            #{sku.index}
            )
        </foreach>
    </insert>
</mapper>