<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.shop.catalog.infrastructure.persistence.mybatis.ProductCategoryMapper">
    <resultMap id="productCategoryResultMap" type="com.github.shop.catalog.ProductCategory">
        <id property="id" column="id_"/>
        <id property="parentId" column="parent_id_"/>
        <result property="name" column="name_"/>
        <result property="image" column="image_"/>
        <result property="description" column="description_"/>
        <result property="level" column="level_"/>
        <result property="firstLetter" column="first_letter_"/>
        <result property="index" column="index_"/>
        <result property="createTime" column="create_time_"/>
    </resultMap>

    <sql id="selectFromProductCategory">
        SELECT
            id_,
            parent_id_,
            name_,
            image_,
            description_,
            level_,
            first_letter_,
            index_,
            create_time_
        FROM
            catalog_product_category
    </sql>

    <select id="selectById" resultMap="productCategoryResultMap">
        <include refid="selectFromProductCategory"/>
        WHERE
        id_ = #{id}
    </select>

    <select id="selectListByLevel" resultMap="productCategoryResultMap">
        <include refid="selectFromProductCategory"/>
        WHERE
        level_ = #{level}
        ORDER BY
        index_ ASC,
        create_time_ DESC
    </select>

    <select id="selectListByParentId" resultMap="productCategoryResultMap">
        <include refid="selectFromProductCategory"/>
        WHERE
        parent_id_ = #{parentId}
        ORDER BY
        index_ ASC,
        create_time_ DESC
    </select>

    <insert id="insertCategory">
        INSERT INTO
            catalog_product_category ( id_, parent_id_, name_, image_, description_, level_, first_letter_, index_, create_time_)
        VALUES
            (#{id}, #{parentId}, #{name}, #{image}, #{description}, #{level}, #{firstLetter}, #{index}, #{createTime})
    </insert>

    <insert id="insertCategories">
        INSERT INTO
        catalog_product_category ( id_, parent_id_, name_, image_, description_, level_, first_letter_, index_, create_time_)
        VALUES
        <foreach collection="categories" item="category" separator=",">
            (#{category.id}, #{category.parentId}, #{category.name}, #{category.image},
            #{category.description}, #{category.level}, #{category.firstLetter},
            #{category.index}, #{category.createTime})
        </foreach>
    </insert>

    <delete id="deleteById">
        DELETE
        FROM
            catalog_product_category
        WHERE
            id_ = #{id}
    </delete>

    <update id="update">
        UPDATE catalog_product_category
        <set>
            <if test="name != null and name != ''">
                name_ = #{name},
            </if>
            <if test="image != null and image != ''">
                image_ = #{image},
            </if>
            <if test="description != null and description != ''">
                description_ = #{description},
            </if>
        </set>
        WHERE
        id_ = #{id}
    </update>
</mapper>