<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mallfoundry.customer.infrastructure.persistence.mybatis.BrowsingProductMapper">
    <resultMap id="browsingProductResultMap" type="com.mallfoundry.customer.domain.BrowsingProduct">
        <id property="customerId" column="customer_id_"/>
        <id property="productId" column="product_id_"/>
        <result property="browsingTime" column="browsing_time_"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO customer_browse_product ( customer_id_, product_id_, browsing_time_ )
        VALUES ( #{customerId}, #{productId}, #{browsingTime} )
    </insert>

    <delete id="delete">
        DELETE
        FROM
            customer_browse_product
        WHERE
            customer_id_ = #{customerId} AND product_id_ = #{productId}
    </delete>
    <delete id="batchDelete">
        DELETE
        FROM
        customer_browse_product
        WHERE
        <where>
            <foreach open="OR (" collection="browsingProducts" item="browsingProduct" close=")">
                customer_id_ = #{browsingProduct.customerId}
                AND
                product_id_ = #{browsingProduct.productId}
            </foreach>
        </where>
    </delete>

    <update id="update">
        UPDATE customer_browse_product
        SET
            browsing_time_ = #{browsingTime}
        WHERE
            customer_id_ = #{customerId} AND product_id_ = #{productId}
    </update>

    <select id="selectListByQuery" resultMap="browsingProductResultMap">
        SELECT
        customer_id_,
        product_id_,
        browsing_time_
        FROM
        customer_browse_product
        <where>
            <if test="customerId != null">
                AND customer_id_ = #{customerId}
            </if>
            <if test="browsingTime != null">
                AND browsing_time_ = #{browsingTime}
            </if>
        </where>
    </select>

    <select id="count" resultType="int">
        SELECT
        count(*)
        FROM
        customer_browse_product
        WHERE
        customer_id_ = #{customerId} AND product_id_ = #{productId}
    </select>

    <select id="countByQuery" resultType="int">
        SELECT
        count(*)
        FROM
        customer_browse_product
        <where>
            <if test="customerId != null">
                AND customer_id_ = #{customerId}
            </if>
            <if test="browsingTime != null">
                AND browsing_time_ = #{browsingTime}
            </if>
        </where>
    </select>

    <select id="countByCustomerId" resultType="int">
        SELECT
            count(*)
        FROM
            customer_browse_product
        WHERE
            customer_id_ = #{customerId}
    </select>
</mapper>