<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mallfoundry.customer.infrastructure.persistence.mybatis.CustomerMapper">
    <resultMap id="customerResultMap" type="com.mallfoundry.customer.domain.Customer">
        <id property="id" column="id_"/>
        <id property="userId" column="user_id_"/>
        <id property="nickname" column="nickname_"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO customer_info ( id_, user_id_, nickname_ )
        VALUES ( #{id}, #{userId}, #{nickname} )
    </insert>

    <delete id="deleteById">
        DELETE
        FROM
            customer_info
        WHERE
            id_ = #{id}
    </delete>

    <update id="update">
        UPDATE customer_info
        <set>
            <if test="nickname != null">
                nickname_ = #{nickname},
            </if>
        </set>
        <where>
            id_ = #{id}
        </where>
    </update>

    <update id="updateAvatar">
        UPDATE customer_info
        SET
            avatar_ = #{avatar}
        WHERE
            id_ = #{customerId}
    </update>

    <select id="selectById" resultMap="customerResultMap">
        SELECT
            id_,
            user_id_,
            nickname_
        FROM
            customer_info
        WHERE
            id_ = #{id}
    </select>
</mapper>